@font-face {
    font-family: debug;
    src: url(font/Doctor\ Glitch.otf);
}
*{
    padding: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: debug;
}
.header{
    width:100%;
    height: fit-content;
    text-align: center;
    font-size:90px;
    background-color: rgb(40, 40, 43);
    color:whitesmoke;
    font-family: debug;
}
.image{
    height:9%;
    width: 12%;
    margin-top: 10px;
}
#imageGroup{
    display:flex;
    flex-direction: row;
    gap:4%;
    justify-content: center;
    align-items: center;   
}
input:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center; 
}
.resultStyle{
    font-size: 20px;
    padding: 20px;
    text-align: center;

}
#rounds p{
    text-align: center;
}
#rounds :first-child{
    padding-top: 5px;
}
#whoWon{
    text-align: center;
}

.openModal{
    font-family: 'Roboto', sans-serif;
    background-color:  rgb(40, 40, 43);
    height: 150px;
    width: 200px;
    opacity: 0;
    color: whitesmoke;
    font-size: 20px;
    position: fixed;
    left: 40%;
    top: 40%;

}
.finalMessage{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding : 20px;
    
}
#playagain{
    align-items: center;
    
}
.active {
    opacity: 1;
}
.sideScore{
    font-family: 'Roboto', sans-serif;
}
#userOutputImage, #computerOutputImage  {
    height:7%;
    width: 10%;
}
.outputImage {
    display: flex;
    flex-direction: row;
    gap:2%;
    justify-content: center;
    align-items: center;
}
.bothScore{
    position:fixed;
    left: 20px;
    top: 150px;
}