@font-face {
    font-family: debug;
    src: url(font/Doctor\ Glitch.otf);
}
*{
    padding: 0px;
    padding:0px;
    box-sizing: border-box;
    
}
.header{
    font-family: debug;
    width:100%;
    height: fit-content;
    text-align: center;
    font-size:70px;
    background-color: rgb(40, 40, 43);
    color:whitesmoke;
    font-family: debug;
}
.image{
    height:7%;
    width: 10%;
    margin-top: 10px;
}
#imageGroup{
    display:flex;
    flex-direction: row;
    gap:4%;
    justify-content: center;
    align-items: center;   
}
input:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center; 
}
.resultStyle{
    font-family: debug;
    font-size: 20px;
    padding: 20px;
    text-align: center;

}
#rounds {
    font-size: 15px;
    padding-top: 5px;
    font-family: debug;
    text-align: center;
}
#rounds :first-child{
    padding-top: 5px;
}
#whoWon{
    font-family: debug;
    text-align: center;
}
/* Modal Design */
.openModal{
    font-family: 'Roboto', sans-serif;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 320px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(40, 40, 43);
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    user-select: none;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;

}
.openModal.active {
    transform: translate(-50%, -50%) scale(1);
  }
#playagain{
    border-radius:5px;
    padding:5px;   
}
.playbtn:hover{
    background-color: #4c8bf5;
    color:rgb(40, 40, 43);
}


/* Output Image */
#userOutputImage, #computerOutputImage  {
    height:6%;
    width: 8%;
}
.outputImage {
    display: flex;
    flex-direction: row;
    gap:2%;
    justify-content: center;
    align-items: center;
}
.bothScore{
    font-family: debug;
    background-color: rgb(40, 40, 43,.60);
    position:fixed;
    left: 20px;
    top: 140px;
    border :1px solid rgb(40, 40, 43);
    padding: 20px;
    border-radius: 4px;
    font-size: 20px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
  }
  
  .overlay.active {
    display: block;
  }
.wonMessage{
    display: flex;
    justify-content: center;
}

  .whoWon{
      margin-top: 30px;
      background-color: rgb(40, 40, 43,.60);
      border-radius: 5px;
      font-size: 20px;
      padding:10px;
      width: fit-content;
      height: fit-content;
     
  }
  .imgInfo{
    font-family: debug;

  }
  .footer{
      font-size: 16px;
      position: fixed;
      left:45%;
      bottom:1px;
  }

  .spin{
    transition: transform 0.3s ease-in-out;;
  }
  .spin:hover{
      transform: rotate(360deg) scale(1.2);
  }
  /* MEDIA QUERIES */
 @media (max-width:550px){
.header{
    font-size:25px;
}
#rounds{
    font-size: 15px;
}
.bothScore{
    font-size: 8px;
}
.image{
    height: 14%;
    width: 17%;
}
.whoWon{
    font-size: 15px;
}
.outputImage span{
    font-size: 12px;
}
#userOutputImage, #computerOutputImage  {
    height:12%;
    width: 15%;
}
.bothScore{
    position:absolute;
    left:30%;
    top:74%;
    text-align: center;
    width: fit-content;
}
.footer{
    position: fixed;
    left: 20%;
    bottom:5px;
}


 }
