@font-face {
    font-family: debug;
    src: url(font/Doctor\ Glitch.otf);
}
*{
    padding: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: debug;
}
.header{
    width:100%;
    height: fit-content;
    text-align: center;
    font-size:90px;
    background-color: rgb(40, 40, 43);
    color:whitesmoke;
}
.image{
    width:17%;
    height: 22%;
    margin-top: 30px;
}
#imageGroup{
    display:flex;
    flex-direction: row;
    gap:4%;
    justify-content: center;
    align-items: center;   
}
input:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center; 
}
.resultStyle{
    font-size: 20px;
    padding: 20px;
    text-align: center;

}

